{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["prettier", "prettier/react", "plugin:react/recommended"],
  "plugins": ["react", "react-native", "prettier"],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": { 
    // var
    "no-catch-shadow": 2, // disallow the catch clause parameter name being the same as a variable in the outer scope (off by default in the node environment)
    "no-delete-var": 2, // disallow deletion of variables
    "no-label-var": 2, // disallow labels that share a name with a variable
    "no-shadow": 2, // disallow declaration of variables already declared in the outer scope
    "no-shadow-restricted-names": 2, // disallow shadowing of names such as arguments
    "no-undef": 2, // disallow use of undeclared variables unless mentioned in a /*global */ block
    "no-undef-init": 2, // disallow use of undefined when initializing variables
    "no-undefined": 2, // disallow use of undefined variable (off by default)
    "no-unused-vars": 2, // disallow declaration of variables that are not used in the code
    "no-use-before-define": ["error", { "functions": false, "classes": true }], // disallow use of variables before they are defined

    // react
    // "react/prop-types": [1, { ignore: [children] }], // stateless
    "react/prop-types": 0, //
    "react-native/no-unused-styles": 0,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 0,
    "react-native/no-color-literals": 0,
     
    // keep it simple
    "semi": ["error", "never"],

    // indentation
    "indent": [ 2, 2 ],
    "newline-per-chained-call": [ "error", { "ignoreChainWithDepth": 3 }],

    // spacing
    "space-in-parens": [ 2, "always" ],
    "template-curly-spacing": [ 2, "always" ],
    "array-bracket-spacing": [ 2, "always" ],
    "object-curly-spacing": [ 2, "always" ],
    "computed-property-spacing": [ 2, "always" ],
    "no-multiple-empty-lines": [ 2, { "max": 1, "maxEOF": 0, "maxBOF": 0 } ],

    // strings
    "quotes": [ 2, "single", "avoid-escape" ],

    // comma
    "comma-dangle": ["error", "always-multiline"]
    
    // "prettier/prettier": [
    //   "error",
    //   {
    //     "singleQuote": true,
    //     "semi": false,
    //     "bracketSpacing": true,
    //     "jsxBracketSameLine": true
    //   }
    // ]
  }
}
